* {
    margin: 0;
    padding: 0;
}
.table{
    background-color: #ffb300;
    position: relative;
    width: 50%;
    height: 80%;
    top:10%;
    bottom: 10%;
    left: 25%;
    right: 25%;
}
#titulo {
    font-family: sans-serif;
    color: #ffffff;
    margin-left: 4%;
} 

#subtitulo {
    font-family: sans-serif;
    color: #ffffff;
    margin-left: 10%;
} 

#check{
    display: inline-block;
}

fieldset {
    border: 0;
}

body{
    background-repeat:repeat-y;
	background-size:100%;
    background-color: #eebe2e;
    font-family: sans-serif;
    font-size: 1em;
    color: #ffffff;
    
    justify-content: center;
}

input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #000000;
    border-radius: 5px;
}

.grupo:before, .grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #ffffff;
    display: block;
}

fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #ffb300;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #ffffff;
}

.botao {
    font-size: 1.2em;
    background: #ffaa0d;
    border: 0;
    margin-bottom: 3em;
    color: #ffffff;
    padding: 0.60em 4em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.botao2 {
    font-size: 1.2em;
    background: #ffaa0d;
    border: 0;
    margin-bottom: 3em;
    color: #ffffff;
    padding: 0.60em 4em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.botao:hover {
    background: #d68400; 
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao, select{
    cursor: pointer;
}